:root {
    --grid-gap: 24px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Base styles (applied to all devices) */

/* Base Layout */
.wrapper {
    margin: 0 auto;
    width: 100%;
}

.box {
    background: #eee;
    border: 1px solid #ccc;
    height: 100px;
    padding: 10px;
    text-align: center;
}

/*
===========================
* 12 COLUMN GRID FRAMEWORK
===========================
*/

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
}

.col-1 {
    flex: 0 0 calc((100% / 12 * 1) - (var(--grid-gap) * 11 / 12));
    max-width: calc((100% / 12 * 1) - (var(--grid-gap) * 11 / 12));
}

.col-2 {
    flex: 0 0 calc((100% / 12 * 2) - (var(--grid-gap) * 10 / 12));
    max-width: calc((100% / 12 * 2) - (var(--grid-gap) * 10 / 12));
}

.col-3 {
    flex: 0 0 calc((100% / 12 * 3) - (var(--grid-gap) * 9 / 12));
    max-width: calc((100% / 12 * 3) - (var(--grid-gap) * 9 / 12));
}

.col-4 {
    flex: 0 0 calc((100% / 12 * 4) - (var(--grid-gap) * 8 / 12));
    max-width: calc((100% / 12 * 4) - (var(--grid-gap) * 8 / 12));
}

.col-5 {
    flex: 0 0 calc((100% / 12 * 5) - (var(--grid-gap) * 7 / 12));
    max-width: calc((100% / 12 * 5) - (var(--grid-gap) * 7 / 12));
}

.col-6 {
    flex: 0 0 calc((100% / 12 * 6) - (var(--grid-gap) * 6 / 12));
    max-width: calc((100% / 12 * 6) - (var(--grid-gap) * 6 / 12));
}

.col-7 {
    flex: 0 0 calc((100% / 12 * 7) - (var(--grid-gap) * 5 / 12));
    max-width: calc((100% / 12 * 7) - (var(--grid-gap) * 5 / 12));
}

.col-8 {
    flex: 0 0 calc((100% / 12 * 8) - (var(--grid-gap) * 4 / 12));
    max-width: calc((100% / 12 * 8) - (var(--grid-gap) * 4 / 12));
}

.col-9 {
    flex: 0 0 calc((100% / 12 * 9) - (var(--grid-gap) * 3 / 12));
    max-width: calc((100% / 12 * 9) - (var(--grid-gap) * 3 / 12));
}

.col-10 {
    flex: 0 0 calc((100% / 12 * 10) - (var(--grid-gap) * 2 / 12));
    max-width: calc((100% / 12 * 10) - (var(--grid-gap) * 2 / 12));
}

.col-11 {
    flex: 0 0 calc((100% / 12 * 11) - (var(--grid-gap) * 1 / 12));
    max-width: calc((100% / 12 * 11) - (var(--grid-gap) * 1 / 12));
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*
========================================
* DESKTOP-FIRST MEDIA QUERY BREAKPOINTS
========================================
*/

/* Extra extra large screens (≤1400px) 2XL */
@media only screen and (min-width: 1400px) {
    .wrapper {
        max-width: 1320px;
    }

}

/* Extra large screens (≤1200px) XL */
@media only screen and (max-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }

}

/* Large screens (≤992px) LG */
@media only screen and (max-width: 992px) {
    .wrapper {
        max-width: 960px;
    }

}

/* Medium screens (≤768px) MD*/
@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 720px;
    }

}

/* Small screens (≤576px) SM*/
@media only screen and (max-width: 576px) {
    .wrapper {
        padding: 0 12px;
    }

}
